img[src='https://www.google.com/a/cpanel/husky.neu.edu/images/logo.gif?service=google_gsuite'], img[src='https://www.google.com/a/husky.neu.edu/images/logo.gif?alpha=1&service=google_white'], img[src='https://www.google.com/a/cpanel/husky.neu.edu/images/logo.gif?service=google_default'], img[src='https://www.google.com/a/husky.neu.edu/images/logo.gif?service=google_default'] {
  content: url("https://raw.githubusercontent.com/kylesferrazza/huskymail/master/bg.png") !important;
  background-size: cover;
}

